GridPane {
    -fx-background-color: white;
}

Label {
    -fx-text-fill: firebrick;
}

TextField, PasswordField, Button {
    -fx-background-radius: 90;
    -fx-border-radius: 90;
    -fx-text-fill: #14668A;
}



